@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "components/components.css";
@import "../app/components/form.css";
@import "../app/components/global-components.css";

*{
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
}

body{
    color: var(--textColor);
    background-color: var(--Background);
    font-family: "Roboto","Arial","sans-serif";
}

.feedback-getter{
    margin-top: 50px;
}

.feedback-getter .input-container{
    padding: 0;
    margin-bottom: 20px;
}

.feedback-getter .input-container > *{
    border: solid 1px var(--Separation-color) !important;
}

.feedback-getter textarea{
    min-width: 500px;
    max-width: 95%;
    min-height: 150px;
}

.feedback-getter .special-button{
    background-color: var(--Separation-color);
}
