@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "components/components.css";
@import "../app/components/form.css";
@import "../app/components/global-components.css";

*{
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
}

body{
    color: var(--textColor);
    background-color: var(--Background);
    font-family: "Roboto","Arial","sans-serif";
}

.feedback-getter .input-container{
    padding: 0;
    margin-bottom: 20px;
}

.feedback-getter .input-container > *{
    border: solid 1px var(--Separation-color) !important;
}

.feedback-getter textarea{
    min-width: 500px;
    max-width: 95%;
    min-height: 150px;
}

.feedback-getter .special-button{
    background-color: var(--Separation-color);
}

.img-logo{
    margin-bottom: 10px;
    width: 100px;
}

.feedback-article-zone{
    gap: 40px;
    margin: 100px auto 50px;
    flex-wrap: wrap;
}

.feedback-article-zone > *{
    width: 500px;
    max-width: 90%;
}

.articles-list ul{
    list-style: square;
}

.articles-list ul li{
    margin-top: 30px;
}

.articles-list ul a:hover{
    text-decoration: underline;
}

.feedbacks-list{
    margin-bottom: 200px;
}

.feedbacks-list .comment{
    margin-top: 30px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px var(--Separation-color);
    width: fit-content;
    max-width: 90%;
}

.feedbacks-list .comment .title{
    text-decoration: underline;
    margin-bottom: 15px;
}
