@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "./theme.css";
@import "./components/global-components.css";
@import "./components/classes.css";

a,
input,
button,
textarea{
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--body-background);
    color: var(--body-text-color);
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Roboto Condensed","Poppins","Arial","sans-serif";
    font-size: 15px;
}

/*apparition smooth*/
.smooth-appear{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.5s,transform 0.5s;
}

.smooth-appear.visible{
    opacity: 1;
    transform: none;
}
