:root{
    --body-text-color: #ffffff;
    --body-background: #0c0c0c;
    --body-up-color: #191919;
    --body-up-special-color: #121212;
    --body-special-color : #0174DC;
    --up-body-color: #ffffff;
}
