.websites-choose-zone{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    max-width: 90%;
    height: 80vh;
    background-color: var(--body-up-color);
    border-radius: 10px;
    overflow-y: auto;
}

.title{
    font-size: 20px;
    margin-bottom: 50px;
}

.website{
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--body-up-special-color);
    width: 80%;
    margin-bottom: 30px;
}

.website .flex-row{
    gap: 10px;
}