.modal {
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
    width: 500px;
    max-width: 90%;
    background-color: var(--body-up-color);
    padding: 30px;
}

.modal i{
    align-self: flex-end;
}

.modal .input-container{
    margin-bottom: 20px;
}